*{
    margin: 0;
    padding: 0;
    font-family: Arial;
}
header{
    height: 660px;
  
    background: url(../images/header_bg_image.jpg)no-repeat center center/cover;
}
nav{
    max-width: 1110px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav ul{
    display: flex;
    list-style: none;
}
header nav ul a{
    padding: 20px 25px;
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    color: #4d4d4d;
}
header nav ul a:hover{
    color: #515151;
}
.logo{
    color:#cb0a15;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}
h1 {
    font-size: 40px;
    margin-bottom: 40px;
} 
.header-content p{
   font-size: 18px;
    color: #4d4d4d;

}
.header-content{
    text-align: center;
    margin-top: 220px;
}
.header-content p span{
    font-size:20px;
    font-weight: bold; 
    color: #000;
}
/* header end */
/* ************ */
/* main start */
main{
    display: flex;
    padding: 100px 0;
    max-width: 1110px;
    margin: 0 auto;
    justify-content: space-between;
}
.main-product, .products{
    max-width: 540px ;
}
.products section{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.products .desc {
    margin-left: 20px;
}
main p{
    font-size: 16px;
    color: #b2b2b2;
    line-height: 24px;
    text-align: justify;
}
main h3{
    font-size: 20px;
    font-weight: bold;
    color: #000;
    margin-bottom: 15px;
}
main h2{
    font-size: 20px;
    color: #000;
    margin: 50px 0 35px 0;
}
main h2 span{
    font-size: 25px;
    color: #000;
}
/* main end */
/* *********** */
footer{
    background: #f9f9f9;
    padding: 50px 0;
}
footer h4{
    font-size: 20px;
    margin-bottom: 25px;
}
footer h4 span{
    color: #cb0a15;
}

footer ul{
    list-style: none;
}
footer a{
    line-height: 24px;
    color: #818181;
}
footer a:hover{
    color: #cb0a15;
}