@font-face{
    font-family: 'Product-sans';
    src: url(../fonts/product-sans.ttf);
    font-weight: 400;   
}
@font-face{
    font-family: 'Montserat-bold';
    src: url(../fonts/Montserrat-Bold.ttf);
    font-weight: 400;
    
}
@font-face{
    font-family: 'Montserat';
    src: url(../fonts/Montserrat-Black.ttf);
    font-weight: 400;
}
@font-face{
    font-family: 'Montserat-regular';
    src: url(../fonts/Montserrat-Regular.ttf);
    font-weight: 400;
}